# ====================
# The Councilmatic App
# ====================
# This needs to point back to the main repo in code for america!
git+git://github.com/corydissinger/councilmatic.git#egg=councilmatic
