{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load compress %}

{% block load_early %}
{% endblock %}

{% block content %}
<div class="councilmembers dashboard">
  <div class='row'>
    <div class='span12'>
      <div class="content">
        <h1>
          {% trans 'Members of Council' %}
        </h1>

        <p>{% trans 'The 1951 Home Rule Charter established Council as the legislative arm of Philadelphia municipal government, consisting of seventeen members. Ten Councilmembers are elected by district and seven from the City-at-large. Each is elected for a term of four years with no limitations as to the number of terms that may be served.' %}</p>

        <hr />

        {% for group_label, group_slug, councilmembers in councilmember_groups %}
        <div class="{{ group_clug }}-councilmember-list">
          <h2 class="{{ group_slug }}-label">{{ group_label|title }}</h2>
          {% for councilmember in councilmembers %}
            <div class='span3'>
              <div class='row-fluid'>
                <img class='img-polaroid span4' style="margin-bottom: 20px;" alt="{{ councilmember.name }}" src="{{STATIC_URL}}{{ councilmember.headshot }}">
                <div class='span8'>
                  <h4>
                    <a href='/member/{{councilmember.id}}'>
                      {{ councilmember.real_name }}
                    </a>
                  </h4>
                  <p>{{ councilmember.title }}</p>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}<div class='clearfix'></div>{% endif %}
          {% endfor %}
          <div class='clearfix'></div>
          <hr />
        </div>
        {% endfor %}

      </div>
    </div>
    {% endblock %}
  </div>
</div>

{% block load_late %}
{% endblock %}

