{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block load_early %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.14/chosen.min.css">
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span4">
		<div class='well'>
			<h3>{% trans "Find legislation" %}</h3>

			{# It may either be called `search_form` or just `form` #}

			<form action="{% url 'search' %}" method="GET" id="id_legislation_search_form">
				<div id="div_id_q" class="ctrlHolder">

					<label for="id_q"> Search </label>
					<input id="id_q" type="text" class="textInput textinput" name="q" value="{{ form.q.value|default_if_none:'' }}">
				</div>
				
				<div class="row-fluid">
					<div class="span12">
						{% with name='topics' %}
						{% with options=topics %}
						{% with field=form.topics %}
						{% with placeholder=_('Narrow by Topics...') %}
							{% include 'councilmatic/partials/options_widget.html' %}
						{% endwith %} {% endwith %} {% endwith %} {% endwith %} 
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">						
						{% with name='statuses' %}
						{% with options=statuses %}
						{% with field=form.statuses %}
						{% with placeholder=_('Narrow by Statuses...') %}
							{% include 'councilmatic/partials/options_widget.html' %}
						{% endwith %} {% endwith %} {% endwith %} {% endwith %} 
					</div>
				</div>						

				<div class="row-fluid">
					<div class="span12">
						{% with name='controlling_bodies' %}
						{% with options=controlling_bodies %}
						{% with field=form.controlling_bodies %}
						{% with placeholder=_('Narrow by controlling body...') %}
							{% include 'councilmatic/partials/options_widget.html' %}
						{% endwith %} {% endwith %} {% endwith %} {% endwith %} 
					</div>
				</div>				
				
				<div class="row-fluid">
					<div class="span12">				
						{% with name='file_types' %}
						{% with options=file_types %}
						{% with field=form.file_types %}
						{% with placeholder=_('Narrow by type of legislation...') %}
							{% include 'councilmatic/partials/options_widget.html' %}
						{% endwith %} {% endwith %} {% endwith %} {% endwith %} 
					</div>
				</div>			

				<div class="row-fluid">
					<div class="span12">										
						{% with name='sponsors' %}
						{% with options=sponsors %}
						{% with field=form.sponsors %}
						{% with placeholder=_('Narrow by sponsor...') %}
							{% include 'councilmatic/partials/options_widget.html' %}
						{% endwith %} {% endwith %} {% endwith %} {% endwith %} 
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8 offset2">										
						<button type="submit" class="btn btn-block btn-info">
							Search
						</button>
					</div>
				</div>						
			</form>
		</div>
	</div>
	<div class="span8">
		<section id="dashboard_legislation" class="span12">
			{% if object_list %}
			<div class='pull-right'>
				{% include 'subscriptions/subscribe_form.html' %}
			</div>
			<h1>{% trans "Legislation results" %}</h1>
			<div class='clearfix'></div>
			<hr />
			{% include "councilmatic/partials/legfile_list.html" %}

			{% if page_obj.has_previous or page_obj.has_next %}
			<div class="pagination pagination-centered">
				<ul>
					<li>
						<a href="{{ first_url }}">&laquo;</a>
					</li>

					{% if page_obj.has_previous %}
					<li>
						<a href="{{ previous_url }}">&lsaquo;</a>
					</li>{% endif %}

					<li class="disabled hidden-phone">
						<a>{% trans "Page" %} ...</a>
					</li>

					{% for page_num, page_url in page_urls %}
					<li{% if not page_url %} class="active"{% endif %}>
						<a{% if page_url %} href="{{ page_url }}"{% endif %}>
							{{ page_num }}</a></li>
							{% endfor %}

							<li class="disabled hidden-phone">
								<a>... {% blocktrans %}of {{ page_obj.paginator.num_pages }}{{page_obj.paginator}}{% endblocktrans %}</a>
							</li>

							{% if page_obj.has_next %}
							<li>
								<a href="{{ next_url }}">&rsaquo;</a>
							</li>{% endif %}

							<li>
								<a href="{{ last_url }}">&raquo;</a>
							</li>
				</ul>
			</div>
			{% endif %}
			{% else %}
			{# Show some example queries to run, maybe query syntax, something else? #}
			{% endif %}
		</section>
	</div>
</div>

{% endblock %}

{% block load_late %}
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.14/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}councilmatic/dashboard_search.js"></script>
{% endblock %}
