{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load cache %}
{% load url from future %}

{% block load_early %}
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="dashboard">
	<div class='row-fluid'>
		<div id="dashboard-search" class='span10 offset1'>
			<form class="search form-search" action="{% url 'search' %}" method="GET">
				<div class="ctrlHolder">
					<input name="q" type="text" class="search-input-home" placeholder="What are you interested in?">
					<button type="submit" class="btn btn-large btn-info search-button-home">
						{% trans "Search" %}&nbsp;<i class="icon-search icon-large"></i> 
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 pagination-centered">
			<img src="{{ STATIC_URL }}philly/subscribe.png">
			<h2><strong>Subscribe</strong></h2>
			<p class="dashboard-text">
				Subscribe to legislation as its made available. Councilmatic provides email subscriptions to the legislation relevant to you.
			</p>			
		</div>
		<div class="span4 pagination-centered">
			<img src="{{ STATIC_URL }}philly/lightbulb.png">
			<h2><strong>Contextualize</strong></h2>			
			<p class="dashboard-text">
				See relevant information around legislation, like the geographical areas mentioned, related legislation, and related information from around the internet.
			</p>
		</div>		
		<div class="span4 pagination-centered">
			<img src="{{ STATIC_URL }}philly/thumbs-up.png">
			<h2><strong>Evaluate</strong></h2>				
			<p class="dashboard-text">
				See the pros and cons of an issue as discussed by the wider community. Councilmatic allows users to support, oppose, and comment on a bill.
			</p>			
		</div>		
	</div>
</div>
<!-- row-fluid -->
{% endblock %}

{% block load_late %}
{% endblock %}
